<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="Port" value="1433" />
    <add key="IPAddress" value="10.0.0.26" />-->
    <!--<add key="ServerName" value="PAVANKUMARV013\SQL2017EXPDELL" />
    <add key="password" value="srks4$" />
    <add key="DB" value="i_facility_shakti" />
    <add key="Schema" value="dbo" />
    <add key="username" value="sa" />
    <add key="PiWEBUserName" value="administrator" />
    <add key="PiWEBURL" value="http://192.168.0.20:8080/" />
    <add key="PiWEBPwd" value="123456" />-->
    <!--<add key="ServerName" value="=ELECTRONO_ENTER\SQLEXPRESS" />-->
    <add key="ServerName" value="TCP:192.168.0.2,1433" />
    <add key="password" value="srks4$shakti" />
    <add key="DB" value="i_facility_shakti" />
    <add key="Schema" value="dbo" />
    <add key="username" value="sa" />
    <add key="PiWEBUserName" value="Administrator" />
    <add key="PiWEBURL" value="http://192.168.0.3:8080" />
    <add key="PiWEBPwd" value="SHAKTI@ADMINPIWEB" />
    <add key="Daystartvalue" value="1" />
    <add key="Daystartvalueutil" value="1" />
    <add key="ApplicationPath" value="" />
    <add key="MachineDataPath" value="Machine-Data" />
    <add key="AlaramPath" value="Machine-Alarm" />
    <add key="OEEPath" value="Machine-OEE" />
    <add key="SpindlePath" value="Machine-SpindleLoad" />
    <add key="QualityPartPath" value="" />
    <!--<add key="TopLoss" value="Machine-Loss" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<connectionStrings>
  <!--<add name="i_facility_shaktiEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TCP:192.168.0.2,1433;initial catalog=i_facility_shakti;user id=sa;password=srks4$shakti;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="i_facility_shaktiEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TCP:192.168.0.2,1433;initial catalog=i_facility_shakti;persist security info=True;user id=sa;password=srks4$shakti;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>