<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
   <add key="ServerName" value="tcp:192.168.0.2,1433" />
    <add key="Database" value="i_facility_shakti" />
    <add key="user" value="sa" />
    <add key="password" value="srks4$shakti" />
    <add key="dbName" value="i_facility_shakti.dbo" />
    
  <!--<add key="ServerName" value="192.168.0.150,1433" />
    <add key="Database" value="i_facility_shakti" />
    <add key="user" value="sa" />
    <add key="password" value="srks4$" />
    <add key="dbName" value="i_facility_shakti.dbo" />-->
    <!--<add key="axisdet1Path" value="G:\googledownload\AxisDetails120200206131612.xlsx"/>
    <add key="axisdet2Path" value="G:\googledownload\Copy of AxisDetails220200206132436.xlsx"/>
    <add key="servoPath" value="G:\googledownload\ServoDetails20200206131612.xlsx"/>
    <add key="macPath" value="G:\googledownload\MachineRealTimeStatus20200206132237.xlsx"/>-->
  </appSettings>
</configuration>