<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <appSettings>
  <add key="ServerName" value="ELECTRONO_ENTER\SQLEXPRESS" />
      <add key="password" value="srks4$shakti" />
    <add key="DB" value="i_facility_shakti" />
    <add key="Schema" value="dbo" />
    <add key="username" value="sa" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="i_facility_tsalEntities" connectionString="metadata=res://*/TATA.csdl|res://*/TATA.ssdl|res://*/TATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TCP:USER-PC\SQLEXPRESS,9021;initial catalog=i_facility_tsal;persist security info=True;user id=sa;password=srks4$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <!--<add name="i_facility_tsalEntities" connectionString="metadata=res://*/TATA.csdl|res://*/TATA.ssdl|res://*/TATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SIEMENS\SQLEXPRESS;initial catalog=i_facility_taml;user id=sa;password=srks4$taml;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="i_facility_talEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELECTRONO_ENTER\SQLEXPRESS;initial catalog=i_facility_shakti;persist security info=True;user id=sa;password=srks4$shakti;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="i_facility_shaktiEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.2,1433;initial catalog=i_facility_shakti;persist security info=True;user id=sa;password=srks4$shakti;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>